/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
delete  
from [budnyby_test].[dbo].[dnn_temp]


INSERT INTO [budnyby_test].[dbo].[dnn_temp] 
           ([PortalID]
           ,[LinkTitle]
           ,[OriginalUrlString]
           ,[TabID]
           ,[ModuleID]
           ,[ArtMID]
           ,[ArticleID]
           ,[PID]
           ,[CategoryID]
           ,[TagID]
           ,[mcat]
           ,[authorid]
           ,[profilegroupid]
           ,[ArtDate]
           ,[ArticleName]
           ,[TagName]
           ,[CategoryName]
           ,[AuthorName]
           ,[ProfileGroupName]
           ,[ev]
           ,[evl]
           ,[LinkType])
SELECT TOP 1 
           [PortalID]
           ,[LinkTitle]
           ,[OriginalUrlString]
           ,[TabID]
           ,[ModuleID]
           ,[ArtMID]
           ,[ArticleID]
           ,[PID]
           ,[CategoryID]
           ,[TagID]
           ,[mcat]
           ,[authorid]
           ,[profilegroupid]
           ,[ArtDate]
           ,[ArticleName]
           ,[TagName]
           ,[CategoryName]
           ,[AuthorName]
           ,[ProfileGroupName]
           ,[ev]
           ,[evl]
           ,[LinkType]
FROM [budnyby_test].[dbo].[EasyDNNnewsUrlNewProviderData]
where articleid=4388 and moduleid=493
